<div class="container-fluid" style="background-color: greenyellow;padding: 50px;">
    <div class="container">
        <div class="row"><h6 class="text-center">Welcome to F2Home Groups</h6></div>
        <div class="row text-center">Leading Importer, Exporter and Supplier of fresh fruits & vegetables</div>
        
        <div class="row" style="padding: 50px;">
            <div class="col-md-3">
                <div class="img-thumbnail">
                    <img src="assets/images/f2home.png" alt="Lights" class="img-fluid" style="width:100%;opacity: 0.5;">
                    <div class="text-center">
                        <h6>F2HOME FRESH USA LLC</h6>
                        <p>United states of America</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="img-thumbnail">
                    <img src="assets/images/f2home.png" alt="Lights" class="img-fluid" style="width:100%;opacity: 0.5;">
                    <div class="text-center">
                        <h6>F2HOME FRESH INDIA PVT LTD</h6>
                        <p>India</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="img-thumbnail">
                    <img src="assets/images/f2home.png" alt="Lights" class="img-fluid" style="width:100%;opacity: 0.5;">
                    <div class="text-center">
                        <h6>F2HOME FRESH FRUIT LLC</h6>
                        <p>United Arab Emirates</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="img-thumbnail">
                    <img src="assets/images/f2home.png" alt="Lights" class="img-fluid" style="width:100%;opacity: 0.5;">
                    <div class="text-center">
                        <h6>F2HOME FRESH THILAND CO.LTD</h6>
                        <p>Thailand</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
