  <br>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <span class="navbar-brand"><img src="assets/images/f2home.png"></span>
    <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer" href="#" (click)="$event.preventDefault()" role="button">HOME</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer" href="#" (click)="$event.preventDefault()" role="button">GROUP COMPANIES</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer" href="#" (click)="$event.preventDefault()" role="button">GALLERY</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer" href="#" (click)="$event.preventDefault()" role="button">PRODUCTS</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer" href="#" (click)="$event.preventDefault()" role="button">ASSOCIATED PARTNERS</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer" href="#" (click)="$event.preventDefault()" role="button">JOURNEY</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer" href="#" (click)="$event.preventDefault()" role="button">CONTACT</a>
        </li>

      </ul>
    </div>
  </nav>